@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-blue: #0079ff;
    --text-main: #4b6a9b;
    --background: #f6f8ff;
    --foreground: #fefefe;
}

[data-theme="dark"] {
    --text-main: #fff;
    --background: #141d2f;
    --foreground: #1e2a47;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background);
}
